.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px;
    border: 1px solid #444;
}
.photo-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border: 1px solid #ef4546;
    width: 300px;
    height: 238px;
}
.image{
    max-width: 286px;
    max-height: 176px;
}